[user]
  name = Ilya Mankaev
  email = mankaev@gmail.com
  signingkey = C71CD9843FE0986C61CC26722CBACD9B90C9D091

[github]
  user = mankaev

[core]
  editor = emacsclient
  excludesfile = ~/.gitignore_global
  quotepath = false
  symlinks = true
  autocrlf = input
  eol = lf

[commit]
  gpgSign = true

[branch]
  autosetuprebase = always

[alias]
  ci = commit -q
  cl = clone -q
  co = checkout -q
  lg = log --graph
  ph = push -q
  pl = pull -q
  st = status -s
  re = remote -q

[instaweb]
  local = true

[push]
  default = simple
  trustExitCode = true

[pull]
  rebase = true

[rebase]
  autoStash = true

[format]
  pretty = medium
  signature = ""

[grep]
  extendedRegexp = true
  lineNumber = true

[log]
  abbrevCommit = true
  decorate = on
  date = iso

[diff "gpg"]
  binary = true
  textconv = gpg -d --quiet --yes --compress-algo=none --no-encrypt-to

[merge]
  tool = ediff

[mergetool "ediff"]
  cmd = emacs -q --eval \"(progn (defun ediff-write-merge-buffer () (let ((file ediff-merge-store-file)) (set-buffer ediff-buffer-C) (write-region (point-min) (point-max) file) (message \\\"Merge buffer saved in: %s\\\" file) (set-buffer-modified-p nil) (sit-for 1))) (setq ediff-quit-hook 'kill-emacs ediff-quit-merge-hook 'ediff-write-merge-buffer) (ediff-merge-files-with-ancestor \\\"$LOCAL\\\" \\\"$REMOTE\\\" \\\"$BASE\\\" nil \\\"$MERGED\\\"))\"
  trustExitCode = true

[difftool]
  prompt = false

[diff]
  tool = ediff

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[color]
  ui = always

[tar "tar.xz"]
  command = xz -c

[core]
  pager = cat

[man]
  viewer = catman

[man "catman"]
  cmd = man -P cat

