[user]
  name = Ilya Mankaev
  email = mankaev@gmail.com
  signingkey = C71CD9843FE0986C61CC26722CBACD9B90C9D091

[core]
  pager = less -XF
  editor = emacsclient
  excludesfile = /home/halapenio/.gitignore_global
  quotepath = false

[commit]
  gpgSign = true

[branch]
  autosetuprebase = always

[alias]
  ci = commit -q
  cl = clone -q
  co = checkout -q
  lg = log --graph
  ph = push -q
  pl = pull -q
  st = status -s
  re = remote -q

[instaweb]
  local = true

[push]
  default = simple
  trustExitCode = true

[pull]
  rebase = true

[rebase]
  autoStash = true

[format]
  pretty = medium
  signature = ""

[grep]
  extendedRegexp = true
  lineNumber = true

[log]
  abbrevCommit = true
  decorate = on

[diff "gpg"]
  textconv = gpg --no-tty --decrypt

[merge]
  tool = mymeld

[mergetool "mymeld"]
  cmd = meld "$LOCAL" "$MERGED" "$REMOTE"

[mergetool "ediff"]
  cmd = emacs -q --eval \"(progn  (defun ediff-write-merge-buffer ()    (let ((file ediff-merge-store-file))      (set-buffer ediff-buffer-C)      (write-region (point-min) (point-max) file)      (message \\\"Merge buffer saved in: %s\\\" file)     (set-buffer-modified-p nil)      (sit-for 1)))  (setq ediff-quit-hook 'kill-emacs        ediff-quit-merge-hook 'ediff-write-merge-buffer)   (ediff-merge-files-with-ancestor \\\"$LOCAL\\\" \\\"$REMOTE\\\"                                   \\\"$BASE\\\" nil \\\"$MERGED\\\"))\"
  trustExitCode = true

[difftool]
  prompt = false

[diff]
  tool = meld

[difftool "meld"]
  cmd = meld "$REMOTE $LOCAL"

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
