[Unit]
Description=User suspend actions
PartOf=graphical-session.target

[Service]
User=%I
Environment=DISPLAY=:0
Type=forking
ExecStart=/usr/bin/i3lock -c 3f3f3f

[Install]
WantedBy=sleep.target
WantedBy=suspend.target
