[Unit]
Description=User suspend actions

[Service]
User=%I
Type=forking
ExecStart=/usr/bin/swaylock -c 3f3f3f

[Install]
WantedBy=sleep.target
WantedBy=suspend.target
